@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}



.header{
    background-color: #1f2937;
    color: white;
    height: 500px;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 20px;
    

    
}

.header .nav-bar{
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.nav-bar ul{
    display: flex;
    gap: 15px;
    list-style-type: none;
    
}

